body {
  height: 100%;
  background-color: $color-white !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $header-font !important;
}

p {
  font-family: $paragraph-font;
  text-align: left;
  margin-top: $universal-paragraph-margin;
}
