$paragraph-font: Roboto, sans-serif;
$header-font: Raleway;
$color-white: #ffffff;
$color-black: #000000;
$color-1: #a2d6f9;
$color-2: #1e96fc;
$color-3: #072ac8;
$color-4: #fcf300;
$color-5: #ffc600;

$color-1-transparent: hsla(204, 88%, 81%, 0.3);
$color-2-transparent: rgba(30, 148, 252, 0.5);
$color-3-transparent: rgba(7, 42, 200, 0.7);
$color-4-transparent: rgba(252, 244, 0, 0.5);
$color-5-transparent: rgba(255, 200, 0, 0.5);
$color-black-transparent: rgba(0, 0, 0, 0.356);

$universal-paragraph-margin: 0.5rem;
