.align-center {
  text-align: center;
}

.border-right {
  border-right-width: 4px !important;
}

.border-left {
  border-left-width: 4px !important;
}

.border-top {
  border-top-width: 4px !important;
}

.border-bottom {
  border-bottom-width: 4px !important;
}
